body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.box {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    background: url("../../images/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

@media screen and (max-width: 480px) { 
    .box {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position:static;
    }
}